<div class="back">
    <div class="slider">
            <div><img src="assets/img/timetable.jpg"></div>
            <div><img src="assets/img/young.jpg" ></div>
            <div><img src="assets/img/cook.jpg" ></div>
            <div><img src="assets/img/people.jpg" ></div>
            
        </div>
        <div class="cont">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius esse reiciendis debitis sunt molestias aperiam quasi, itaque quaerat earum aliquam? Perspiciatis tempore fugit laudantium unde dolore quasi doloribus ratione rerum.</p>  

        </div>
</div>